/* public/css/index.css - Estilo Específico da Página Inicial */

.main-header {
    position: absolute; 
}

.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-home {
    /* O caminho da imagem deve ser '../images/' a partir de public/css/ */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/jovem-bonita-tocando-violao-dentro-de-casa_23-2149140607.avif') no-repeat center center/cover;
    background-attachment: fixed;
}

.hero-content h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: var(--color-text-dim);
}

/* Responsividade do Conteúdo Principal */
@media (max-width: 600px) {
    .hero-content {
        padding: 0 20px; /* Adiciona espaçamento nas laterais */
    }
    .hero-content h1 {
        font-size: 2.2em; /* Reduz o tamanho do título */
    }
    .hero-content p {
        font-size: 1em; /* Reduz o tamanho do subtítulo */
    }
}